<DOCTYPE! html>

<head>
	<title></title>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<br />

	<div class="comic-index">
<%if is_logged_in? %>

	<h2>Hi <%= current_user.username%>!</h2>

	<%if @comics == [] %>
		<h3>You have no comics listed</h3><br>  
		<h5><a href = "/comics/new">Please Enter New Comic</a></h5><br>
	<%else%>
		<h3> Here is a list of your comics!</h3>
		<h4><b>Select a comic to view more details<b></h4><br>
		
		<% @comics.each do |comic| %>
	    	<ul>
	    		<li><a href = "/comics/<%= comic.id %>"><%= comic.title %> - 
	    		<%= comic.subtitle %> - <%= comic.publisher %> - <%= comic.year %>	
	    		</a></li> 	         	
	    	</ul>
	    <%end%>

	    <div class="container">
	    		<div class="row">
		<div class="col-lg-7">
			<br />
	    	<p><a href="/comics/new">Add new comic</a></p>
			<p><a href="/logout">Log out</a></p>
		</div>
	</div>
	
	<%end%> 

<%else%>
	<a href="/sessions/login">Please Log In</a>
<%end%>

</div>

<div class="container">
	<div class=:row">
  <img class="img-responsive" src="/images/storm.jpeg" alt="storm">
	</div>
</div>

</div>

</body>
</html>




	        