<DOCTYPE! html>

<head>
	<title></title>
</head>
<body>
	<div class="comic-index">
<%if is_logged_in? %>

	<h4>Hi <%= current_user.username%>!</h4>

	<%if @comics == [] %>
		<h4>You have no comics listed</h4><br>  
		<h5><a href = "/comic/new">Please Enter New Comic</a></h5><br>
	<%else%>
		<h4> Here is a list of your comics!</h4>
		<h6><b>Select a comic to view more details<b></h6><br>
		
		<% @comics.each do |comic| %>
	    	<ul>
	    		<li><a href = "/comic/<%= comic.id %>"><%= comic.title %> - 
	    		<%= comic.subtitle %> - <%= comic.publisher %> - <%= comic.year %>	
	    		</a></li> 	         	
	    	</ul>
	    <%end%>

	    <p><a href="/comic/new">Add new comic</a></p></p>
		<p><a href="/logout">Log out</a></p></p>
	
	<%end%> 

<%else%>
	<a href="/sessions/login">Please Log In</a>
<%end%>

</div>

<img class="img-responsive" src="/images/collage.jpeg" alt="justice league">

</body>
</html>




	        