<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Here is your comic book listing!</h2>
	<h3><%= @comic.title %> - <%= @comic.subtitle %></h3>
	<%= @comic.publisher %>,&#169;<%= @comic.year %><br>
	<%= @comic.cover_price %><br>
	<%= @comic.condition %><br>
	<%= @comic.html_link_to_dealer %><br>
</text>
</body>
</html>








